/*-----RESET-------*/
css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  width: 800px;
  border:15px solid #1086e8;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='sqare' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  background-color: black;
}
/*-----------header-content----------->*/
header {
  width: 95.3%;
  height: 15vh;
  margin-bottom: 3%;
  border:15px solid #1086e8;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='sqare' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  background-color: black;
}
.header-container {
  display: flex;
}

/*-----icon--bar------*/
.icon-bar {
  width: 100%;
  padding: 10px 10px;
  margin-top: 6%;
  margin-left: 6%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.icon-bar a {
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 3vw;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/*-----audio-------control-------*/
.music {
  width: 60%;
 margin-right: 4%;
 margin-top: .5%;
}
.music audio {
  width: 100%;
  background-color: #FF00E6;
  border:10px solid #1086e8;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='sqare' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  animation: text-flicker 3s linear infinite;
}
/*-----about-----button-------*/

.text-two .button {
  width: 50%;
  background-color: limegreen;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='sqare' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
}

/*-----projects-----buttons-------*/
.projects .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projects .button  {
  width: 20%;
  height: 25vh;
  margin: 1% 1%;
  background-image: url(/RYat7f8.gif);
  background-position: center;
}
/*-------images-------*/
.image-container {
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}


/*---------footer--------content------*/
.footer-container{
  height: 12vh;
  border:10px solid #1086e8;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='sqare' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
  animation: text-flicker 3s linear infinite;
  display: flex;
  align-items: center;
 

}
.footer-container .icon-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2%;
}
.home, .about, .contact {
  background: red
}
.project {
  color: red;
  background:lime;
}
/*-------text-content----*/
.text-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}
.text-one{
  /*left:50%;*/
  /*margin: -50px 0 0 -150px;*/
  text-align: center;
  border:5px solid #1086e8;
  width: 50%;
  height: 50vh;
  animation: border-flicker 2s linear infinite;
}
.text-two {
  text-align: center;
  border:5px solid #1086e8;
  width: 50%;
  height: 50vh;
  animation: border-flicker 2s linear infinite;
}


h1  {
  color:limegreen;
  font-family: 'Long Cang', sans-serif;
  font-size: 3rem;
  letter-spacing: .5rem;
  padding-top:12%;
  animation: text-flicker 3s linear infinite;
}
p{
  color:#FF00E6;
  font-family: 'Long Cang', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 5px;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(50, 205, 50, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1))
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1))
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1))
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(50, 205, 50, 1))
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1))
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(50, 205, 50, 1))
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  
  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  
  19% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  80% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
 
/* Small Devices, Tablets */

@media (max-width : 800px) {
  .body .h2 .p {
      width: 90%;
  }
}
@media (min-width: 500px) {
  body {

  }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 100%) {
  .body, .h2, .p {
      max-width: 100%;
  }
}
  